* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body,
html {
  height: 100%;
  background-color: #fe763c;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav .left-nav {
  letter-spacing: -5px;
  font-size: 100px;
  font-weight: 400;
}
nav .right-nav {
  display: flex;
  gap: 40px;
}
nav .right-nav a {
  font-size: 20px;
}

#hero {
  display: flex;
  padding: 20px;
  margin-top: 100px;
  align-items: end;
  justify-content: space-between;
}
#hero p {
  font-size: 20px;
}
#hero .cta-button {
  font-size: 18px;
}
#hero .cta-button span {
  font-weight: 600;
}
